<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <h1><a href="/">Nutrify</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.username %></li>
        <li><a href="/api/users/home">Home</a></li>
        <li><a href="/api/auth/logout">Log Out</a></li>
      <% } else { %>  
        <li><a href="/api/auth/login">Log In</a></li>
        <li><a href="/api/users/signup" class="btn">Signup</a></li>
      <% } %>
    </ul>
  </nav>
  