<%- include('partials/header'); -%>

<header>
  <div class="meals">
    <img src="/images/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Meal Calorie</h2>
    <h3>By Nutrify For Nutrify</h3>
    <a href="/api/users/view-meals" class="btn">View Meals</a>
  </div>
</header>


<%- include('partials/footer'); -%>